body{
  font-family: Gothan Bold;
  margin:0;
  padding:0;

}
#navbar-container{
  background-color: #383838;
  display: flex;
  padding:5px 2%;
  align-items: center;
  justify-content: center;
}
#logo-container{
width: 20%;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
}
#menu-container{
  width: 55%;
  color: white;
    display: flex;
    align-items: center;
}
#user-container{
  justify-content: center;
  width: 20%;
  color: white;
  display: flex;
  align-items: center;
}
#search-container{
  background-color: #d35266;
  padding:3% 0;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#colums-container{
  display: flex;
  justify-content: center;
}
#filter-column{
  width: 15%;
  background-color: yellow;
}
#products-column{
  width: 75%;
  background-color: red;
}
.filter-header {
  border-bottom: 1px solid #888888;
  padding: 2% 0%;
  margin: 0 22%;;
}
#nav-button{
  border: none;
  width: 20%;
  height: 30px;
  background-color: #d35266;
  color: white;
  font-weight: bold;
  margin-left: 3%;
}
#user-image{
  width:45px;
  height:45px;
  border-radius: 50%;
}
div a{
color:#888888  !important;
  width: 5%;
  min-width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div a:hover{
  color: #d35266 !important;
  text-decoration: underline !important;
}
.icons{
  margin:0 5%;
}
#username{
  margin-right: 3%;
}
#search-header{
  font-weight: bold;
  color: white;
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#subtitle{
  color: white;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin:10px 0;
  font-weight: bolder;
}
#search-form{
  display: flex;
  justify-content: center;
}
#search-header{
  margin:10px 0;
}
#cbx-categories{
  border:none;
  height: 45px;
  text-align-last:center;
  background-color: white;
  border: none;
  width:10%;
  font-weight: bolder;
  color:#888888 !important;
  border:1px  solid #d35266
}
#input-search{
  width:45%;
  color: #888888;
  font-weight: bolder;
  padding:0 10px;
  border:none;
  border:1px  solid #d35266
}
#btn-search{
  border:5px  solid #d35266;
  background-color:#383838;
  color:#888888;
  border: none;
  width:10%;
  margin: 0 1%;
  font-weight: bolder;
}
.d-flex{
  display: flex;
  justify-content: left;
  align-items: initial;
}
.w-100{
  width: 100% !important;;
}
.w-25{
  width: 25%;;
}
.col{
  display: flex;
  flex-direction: column;
}
#product-header{
  border-bottom: 1px solid rgba(56,56,56,0.7);
  color:rgba(56,56,56,1);

}
.icons-products{
  margin:0 5px;
  padding:5px;
}
#products-container{
  padding: 0 5%;
  background-color: rgba(100,100,100,0.4);
}
.card{
  border: 1px solid #888888;
  margin:1%;
  background-color: white;;
}